{{ listOfUser$ | async }} sdcsdacsac <nz-table></nz-table>

<nz-table>
  <thead>
    <tr align="right">
      <th>Phone No</th>
      <th>Name</th>
      <th>Deparment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>32</td>
      <td>John Brown</td>
      <td>New York No. 1 Lake Park</td>
    </tr>
    <tr>
      <td>Jim Green</td>
      <td>40</td>
      <td>London No. 1 Lake Park</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Joe Black</td>
      <td>Sidney No. 1 Lake Park</td>
    </tr>
  </tbody>
</nz-table>
